div{
  height: 200px;
  width: 500px;
  /* border-width: 5px;
  border-style: solid;
  border-color: red; */
  border: 5px solid red;

  border-left-style: dashed;
  border-left-color: blue;

  border-top: 5px dashed green;
  border-radius: 9px;

  margin: 20px;
}
h1{
  /* border-width: 2px;
  border-style: dashed;
  border-color: green; */
  border: 2px dashed green
}
button{
  padding-left: 25px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: yellow;
  border-radius: 9px;
  margin-top: 10px;
}