<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home page</title>
</head>
<body>
  <h1>this is the home page 1 + 2</h1>
  <h3> <%= 1 + 2 %> </h3>
  <h3> <%= "bibekverma".toUpperCase() %> </h3>
  <h3> <%= ["hello", "namaste", "ramram"][2] %> </h3>

  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur reiciendis atque totam, eveniet deserunt rem adipisci eos facilis pariatur hic beatae ipsum a iste ea vel molestias, optio praesentium cum nam voluptate nulla incidunt corporis. Sed commodi maxime aut saepe similique aliquid, consequatur nesciunt voluptas?</p>
  <button>click me!!</button>
</body>
</html>