.box{
  height: 100px;
  width: 300px;
  background-color: pink;

  /* animation-name: widthAnimate;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 0;
  animation-iteration-count: infinite;
  animation-direction: alternate; */

  /* or, */
  animation: colAnimate 3s ease-in 0s infinite normal;
}

/* @keyframes colAnimate{
  from{
    background-color: green;
    width: 10px;
  }
  to{
    background-color: yellow;
    width: 400px;
  }
} */

@keyframes colAnimate{
  0%{
    background-color: green;
  }
  50%{
    background-color: yellow;
  }
  100%{
    background-color: blue;
  }
}


@keyframes fontAnimation {
  from{
    font-size: 20px;
  }
  to{
    font-size: 40px;
  }
}