.card{
  width: 210px;
  height: 300px;
  border: 2px solid black;
  display: inline-block;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0px 4px 8px black;
  transition: 0.4s;
}

.desc{
  padding: 0 10px 0 10px;
}

img{
  width: 210px;
  height: 215px;
  border-radius: 5px 5px 0 0;
}

.card:hover{
  box-shadow: 0 8px 16px black;
}