body {
  font-family: Arial;
}

.green{
  color: green;
  text-decoration: underline black wavy;
}

#mainImg {
  width: 35%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxBg{
  background-color: yellowgreen;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}


/* practice question css */
.red{
  color: red;
}

h3{
  color: blue;
}

.box1{
  border: 1px solid black;
  background-color: pink;
}